:root {
}

.Pawn {
    flex-grow: 1;
    width: 32px;
    height: auto;
    background-size: contain;
    background-image: url("project://database/Assets/Game/UI/Assets/PawnSpriteSheet.png?fileID=-1498585169&guid=a458117c92ea72e49a92d94dbe033085&type=3#PawnSlotEmpty");
}

.Empty {
    background-image: url("project://database/Assets/Game/UI/Assets/PawnSpriteSheet.png?fileID=-1498585169&guid=a458117c92ea72e49a92d94dbe033085&type=3#PawnSlotEmpty");
    background-size: contain;
}

.Full {
    background-image: url("project://database/Assets/Game/UI/Assets/PawnSpriteSheet.png?fileID=1799302421&guid=a458117c92ea72e49a92d94dbe033085&type=3#PawnSlotFull");
    background-size: contain;
}

.PriorEmpty {
    background-image: url("project://database/Assets/Game/UI/Assets/PawnSpriteSheet.png?fileID=-1982124342&guid=a458117c92ea72e49a92d94dbe033085&type=3#PriorityPawnSlotEmpty");
    background-size: contain;
}

.PriorFull {
    background-image: url("project://database/Assets/Game/UI/Assets/PawnSpriteSheet.png?fileID=810690615&guid=a458117c92ea72e49a92d94dbe033085&type=3#PriorityPawnSlotFull");
}

.Disabled {
    opacity: 0.3;
}
